.landingPage {
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    font-family: 'Whyte Inktrap';
    font-size:1.1vw;
    font-weight: 600;
}

.header {
    position: relative;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 50vh;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu{
   display: flex;
   justify-content: center;
    flex-direction: row;
    width: 100%;
}

.menu .nav_li{
    margin: 0rem 2rem;
}

@media only screen and (min-width: 800px) {
    .nav_li a {
        background-color: #1d1d1ce2;
        border-radius: 2rem;
        padding-inline: 6rem;
        color: white;
        width: 10vw;
        text-align: center;
        transition: 0.5s;
    }
    .nav_li a:hover{
        color: #1D1D1C;
        background-color: rgb(255, 255, 255,0.8);

    }

    .header {
        padding-top: 2rem;
        padding-inline: 2rem;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 10px 10px 6px 10px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}
.menu-icon{
    transform: translateX(-50px);
}


h1 {
    margin-top: 0 !important;
}

.celebrating {
    font-family: "Whyte Inktrap";
    font-size: 2rem;
    text-transform: uppercase;
    color: #464646;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: 5px;
    margin-bottom: 3rem;

}

/*Timer - mobile*/
.countdown {
    font-size: 3rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #B7B7B7;
    margin-top: 3rem;
}

.countdown-sub {
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #B7B7B7;
    width: 30rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.headline {
    font-size: 1.3em;
}

/*timer - desktop (48em = 768px)*/
@media (min-width: 48em) {

    .headline {
        font-size: 2em;
    }

    .countdown {
        font-size: 5rem;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        color: #B7B7B7;
        margin-top: 3rem;
    }

    .countdown-sub {
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        color: #B7B7B7;
        width: 30rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.about_btn {
    font-size: 0.9rem;
    color: white;
    background-color: #1D1D1C;
    border-radius: 1.2rem;
    font-family: 'Inter';
    font-size: .9rem;
    margin: 0rem 0rem;
    padding: 0.5rem 1.5rem;
    position: absolute;
    top: 10px;
    right: 20px;
}

.about_btn:hover {
    cursor: pointer;
}
.header2{
    display: none;
}
.logo{
    position: absolute;
    top: 10px;
    left:20px;
    width: 400px;
}
  .logo_img {
display: inline;
width: 100px;
    
}
.logo span{
    display: inline;
    font-size: 1.75
    rem;
}

@media only screen and (max-width: 800px) {
    .logo_img {

        display: none;
    }
    .menu{
        display: block;
        flex:none;
        flex-direction: none;
    }

    a{
        font-size: 0.9rem;
        padding: 0px;
    }
    .header2{
        display: flex;
        justify-content: right;
        text-align: right;
        margin-top: 0;
        flex-direction: row;
        transform: translate(0px,-20px);
        padding-right: 1rem;
    }

    .header2 .nav_li{
        display: inline;
        margin: .5rem;
        text-align: right;
        float: right;
    }
    .nav_li a {
        background-color: #1d1d1ce2;
        border-radius: 2rem;
        color: white;
        padding: 0.75rem 1rem;
        text-align: center;
        transition: 0.5s;
        font-size: 0.75rem;
    }

    
    .header{
        padding-top: 1rem;
        display: none;
        visibility: hidden;
        margin: 0;
    }
    .header li a {
        display: block;
        padding: 10px 0px;
        text-decoration: none;
    }
}
